body{
    font-family: 'Archivo', sans-serif;
}

@media(min-width:900px){
  .container{
      display: flex;
      flex-direction: column;
      align-items:center;
      flex-wrap:wrap;
  }
  .container-1 {
      /*margin: 40px auto 0 auto;*/
      /*background-color: rgb(233,128,116);*/
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content:space-between;
 }

  .container-2 {
      /*margin: 40px auto 0 auto;*/
      /*background-color: rgb(233,128,116);*/
      display: flex;
      flex-direction: column;
      align-items:center;
 }
}

.flex-chart-1 {
    box-sizing: border-box;
    /*border:0px #ccc solid;*/
    padding:5px;
    margin: 30px 50px 50px 80px;
    border-radius: 15px 15px 15px 15px;
    background-color:  rgba(233, 128, 116,0.1);
} 


.flex-chart-2 {
    box-sizing: border-box;
    /*border:0px #ccc solid;*/
    padding:5px;
    margin: 30px 50px 50px 80px;
    border-radius: 15px 15px 15px 15px;
    background-color:  rgba(233, 128, 116,0.1);
}

.flex-chart-3 {
    box-sizing: border-box;
    /*border:0px #ccc solid;*/
    padding:20px;
    margin: 30px 50px 50px 50px;
    border-radius: 15px 15px 15px 15px;
    background-color:  rgba(233, 128, 116,0.1);
}

.flex-chart-4 {
    box-sizing: border-box;
    /*border:0px #ccc solid;*/
    padding:20px;
    margin: 30px 50px 50px 50px;
    border-radius: 15px 15px 15px 15px;
    background-color:  rgba(233, 128, 116,0.1);
}

.flex-chart-1 :hover {
    box-shadow: 0 0 5px 2px rgba(232, 90, 79,0.4);
}

.title {
    
}


/*FLEXBOX ITEM POSITIONING*/
.flex-chart-1{
    flex:1;
    order:1;
    flex-basis: 50%;
}

.flex-chart-2{
    flex:1;
    order:2;
    flex-basis: 50%;
}

.flex-chart-3{
    flex:1;
    order:1;
}

.flex-chart-4{
    flex:2;
    order:2;
}


/*Background Color Gradient*/
body {
  background: #e2d1c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fdfcfb , #e2d1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fdfcfb, #e2d1c3); /*IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


h1{
  font-size: 2rem;
  color: #928296;
  text-align: center;
}

h2,
h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #928296;
  text-align: center;
}

.dc-chart .axis line, .dc-chart .axis path {
    fill: none;
    stroke: #93A68F;
    stroke-width: 2;
    shape-rendering: crispEdges;
}


.flex-chart-1 .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.flex-chart-2 .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}







